{% extends 'beb/base.html' %}
{% load static %}

{% block title %}CasaBaldini{% endblock %}

{% block content %}
<div class="container text-center my-4">
    <!-- Logo -->
    <div class="row justify-content-center mb-4">
        <div class="col-8 col-md-6 col-lg-4">
            <img src="{% static 'beb/img/logo.jpg' %}" class="img-fluid" alt="Logo CasaBaldini"/>
        </div>
    </div>

    <!-- Immagine principale -->
    <div class="row justify-content-center mb-4">
        <div class="col-11 col-md-10 col-lg-8">
            <img src="{% static 'beb/img/fronte.jpg' %}" class="img-fluid" alt="CasaBaldini"/>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container-fluid py-2">
    <marquee direction="right" scrollamount="10"
             onMouseOver="this.stop()" onMouseOut="this.start()"
             class="text-white">
        {% for link in links %}
            <a href="{{ link.link }}" class="text-white text-decoration-none mx-3 fw-bold">
                <img src="{% static 'beb/img/links/' %}{{ link.img }}"
                     width="{{ link.width }}" height="{{ link.height }}" alt=""/>
                &nbsp; {{ link.titolo }}
            </a>
        {% endfor %}
    </marquee>
</div>
{% endblock %}