<!DOCTYPE html>
<html lang="en">
	{% load static %}
	
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	<meta http-equiv="X-Frame-Options" content="SAMEORIGIN"> 
	<title>casabaldini.eu {{urlx}}</title>

	<meta name="author" content="Carlo Zanieri" />
	<link rel="shortcut icon" href="../favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{% static 'beb/menu_6/css/default.css'%}" />
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'beb/news/css/styles.css'%}"/>
  	<script src="{% static 'beb/js/jquery.js'%}"></script>
	<script src="{% static 'beb/menu_6/js/modernizr.custom.js'%}"></script>
	<link rel="shortcut icon" href="{% static 'beb/favicon.ico'%}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'beb/menu_6/css/default.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'beb/menu_6/css/component.css'%}" />
		
	   
</head>


<body>
	 
{% include 'beb/menu5.html' %}
div>
    <p>
    <a href="https://www.google.com/maps/place/Piazza+Cavour,+44,+50031+Barberino+di+Mugello+FI/@43.9991745,11.2356229,17z/data=!3m1!4b1!4m6!3m5!1s0x132ae4b3b54b48a5:0x4180bbe02184d5a!8m2!3d43.9991707!4d11.2381978!16s%2Fg%2F11c5k4ls2p?authuser=0&entry=ttu&g_ep=EgoyMDI1MDEyMC4wIKXMDSoASAFQAw%3D%3D">map </a>
    </p>
</div>
<iframe  scrolling="no" width="100%" height="500 px" src="/beb/slide?luogo={{luogo}}" frameborder="0" style=" margin-top:-24%; margin-left:-10%;margin-right:-15%;"></iframe>
	<p style="text-align: justify;  color:#7e342d; margin-right:15%;margin-left:10%;">
		
		{% for entrie in entries %}
		<img  class="zoom" src= "{% static 'beb/img/'%}{{luogo}}/{{entrie.img}}" width="12%" height="12%" alt="" style="float: left; margin: 15px 15px 15px 15px;"/>{{entrie.html}} 
		<img class="zoom" src="{% static 'beb/img/'%}{{luogo}}/{{entrie.img2}}" width="12%" height="12%" alt="" style="float: right; margin: 15px 15px 15px 15px;"/>
		{% endfor %} 
		{{luogo}}
		</p>
	
	<!--<footer>
		<h1 style="color:#000000; margin-left:30%; margin-right:25%; margin-top:10%; margin-bottom:5%;">Si ringraziano gli Sponsor</h1>
		<div class="flex" ><img  src="static/img/Sponsor SPS 2020.jpg"/></div>
	</footer>-->
	
</html>
